<h1>Table</h1>
<table>
  <tr>
    <td>row1 col1</td>
    <td>row1 col2</td>
  </tr>
  <tr>
    <td>row2 col1</td>
    <td>row2 col2</td>
  </tr>
  <tr>
    <td>row3 col1</td>
    <td>row3 col2</td>
  </tr>
</table>

<h1>Rooted Div</h1>
<div>Rooted div</div>

<h1>Nested Level1 Div</h1>
<div>
  <div>div1</div>
  <div>div2</div>
  <div>div3</div>
</div>

<h1>Nested Level2 Div</h1>
<div>
  <div>
    <div>Nested1 div1</div>
    <div>Nested1 div2</div>
  </div>
  <div>
    <div>Nested2 div1</div>
    <div>Nested2 div2</div>
  </div>
  <div>
    <div>Nested3 div1</div>
    <div>Nested3 div2</div>
  </div>
</div>

<h1>Spans</h1>
<div>
  <span>Span1</span><br>
  <div>
    <span>Nested Span1</span>
  </div>

  <span>Span2</span><br>
  <div>
    <span>Nested Span2</span>
  </div>

  <span>Span3</span>
  <div>
    <span>Nested Span2</span>
  </div>
</div>

<h1>Adjacent Spans</h1>
<div>
  <span>Adjacent Span1</span><br>
  <div>
    <span>Adjacent Nested Span1</span>
  </div>

  <span>Adjacent Span2</span><br>
  <div>
    <span>Adjacent Nested Span2</span>
  </div>

  <span>Adjacent Span3</span>
  <div>
    <span>Adjacent Nested Span2</span>
  </div>
</div>

<h1>Jagged Spans</h1>
<div>
  <span>Span1</span>
  <span>
    <span>Adjacent Nested Span1</span>
  </span>
  <br>
  <span>Adjacent Span2</span>
  <span>
    <span>Adjacent Nested Span2</span>
  </span>
  <br>
  <span>Adjacent Span3</span>
  <span>
    <span>Adjacent Nested Span3</span>
  </span>
</div>


<h1>Very nested Spans</h1>
<div>
  <span>Span1</span>
  <div>
    <div>
      <div>
        <span>super Nested Span1</span>
      </div>
    </div>
  </div>
  <br>

  <span>Adjacent Span2</span>
  <div>
    <div>
      <div>
        <span>super Nested Span2</span>
      </div>
    </div>
  </div>
  <br>

  <span>Adjacent Span3</span>
  <div>
    <div>
      <div>
        <span>super Nested Span3</span>
      </div>
    </div>
  </div>
</div>

<h1>Sliding Panel...</h1>
<button value="Click here" id="sliding-trigger" ></button>
<div id="sliding-panel" class="slider  isfun  what-to-do">
  Sliding Up
  and down
</div>


<h1>Images</h1>
<div style="width:280px;margin-right:30px;">
  <a href="/subpage/1">
    <img src="http://images3.mdscollections.com/ihs_images/MDS2057_280x405.jpg" border="0" style="width:100px;">
  </a> 
  <a class="listing_product_name" href="/subpage/1">Caping Frills Top in Spring Floral Prints (7719529SPRNG)
  </a>
  <br>
  <span class="listing_currency_type">SGD</span><span class="listing_price">25.90</span> 
</div>

<h1>Pagination</h1>
<div>Page 1</div>
<a href="/sibling/2">next page</a>
<br>
<br>
<br>
<br>
<br>
<br>
