<h1>Table</h1>
<table>
  <tr>
    <td>row1 col1</td>
    <td>row1 col2</td>
  </tr>
  <tr>
    <td>row2 col1</td>
    <td>row2 col2</td>
  </tr>
  <tr>
    <td>row3 col1</td>
    <td>row3 col2</td>
  </tr>
</table>

<h1>Rooted Div</h1>
<div>Rooted div</div>

<h1>Nested Level1 Div</h1>
<div>
  <div>div1</div>
  <div>div2</div>
  <div>div3</div>
</div>

<h1>Nested Level2 Div</h1>
<div>
  <div>
    <div>Nested1 div1</div>
    <div>Nested1 div2</div>
  </div>
  <div>
    <div>Nested2 div1</div>
    <div>Nested2 div2</div>
  </div>
  <div>
    <div>Nested3 div1</div>
    <div>Nested3 div2</div>
  </div>
</div>

<h1>Spans</h1>
<div>
  <span>Span1</span><br>
  <div>
    <span>Nested Span1</span>
  </div>

  <span>Span2</span><br>
  <div>
    <span>Nested Span2</span>
  </div>

  <span>Span3</span>
  <div>
    <span>Nested Span2</span>
  </div>
</div>

<h1>Adjacent Spans</h1>
<div>
  <span>Adjacent Span1</span><br>
  <div>
    <span>Adjacent Nested Span1</span>
  </div>

  <span>Adjacent Span2</span><br>
  <div>
    <span>Adjacent Nested Span2</span>
  </div>

  <span>Adjacent Span3</span>
  <div>
    <span>Adjacent Nested Span2</span>
  </div>
</div>

<h1>Jagged Spans</h1>
<div>
  <span>Span1</span>
  <span>
    <span>Adjacent Nested Span1</span>
  </span>
  <br>
  <span>Adjacent Span2</span>
  <span>
    <span>Adjacent Nested Span2</span>
  </span>
  <br>
  <span>Adjacent Span3</span>
  <span>
    <span>Adjacent Nested Span3</span>
  </span>
</div>


